/* selector universal */
* {
    box-sizing: border-box; /* eliminar scroll horizontal */
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

img{
    height: 50px;
    width: 50px;
}

.form--product{
    display: inline-block;
}

.cromometer{
    display: inline;
}

.clock {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}